<div class="user-login">
  <main>
<h4>Register</h4>
<section>
  <%= form_tag :users do %>
    <div >
      <%= label_tag :email %>
      <%= email_field_tag :email, class: "block col-12 field" %>
    </div>
    <div >
      <%= label_tag :first_name %>
      <%= text_field_tag :first_name, class: "block col-12 field" %>
    </div>
    <div>
      <%= label_tag :last_name %>
      <%= text_field_tag :last_name, class: "block col-12 field" %>
    </div>
    <div>
      <%= label_tag :password %>
      <%= password_field_tag :password, class: "block col-12 field" %>
    </div>
    <div>
      <%= label_tag :password_confirmation %>
      <%= password_field_tag :password_confirmation, class: "block col-12 field" %>
    </div>
    <%= submit_tag 'Create Account', class: "mt2 btn btn-primary mb1 bg-teal" %>
  <% end %>
</section>
